* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  width: 100%;
  height: 100%;
  margin: auto auto;
}

.card {
  width: 90%;
  height: 90%;
  position: relative;
  margin: 10px;
  perspective: 1000px;
}


.front,
.back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  transition: transform 0.5s;
}

.front {
  background-color: #ddd;
}

.back {
  transform: rotateY(180deg);
}

.card.flipped .front {
  transform: rotateY(180deg);
}

.card.flipped .back {
  transform: rotateY(0deg);
}

.locked {
  pointer-events: none;
  opacity: 0.5;
}
